
.row-detail-leave {
    & td {
        padding: 10px 16px !important;
    }
}
.last-row {
    & td {
        border-bottom: none !important;
    }
}

.title-form {
    margin-bottom: 5px;
    font-weight: bold;
    margin-right: auto;
    margin-top: 5px;

    .require {
        color: red;
        margin-left: 5px;
    }
}




.table-cell {
    padding: 10px !important;
}

.non-working-day-title {
    border-radius: 6px;
    background-color: #FBE9E7;
    padding: 10px;
    color: #C62828;
    max-width: 137.6px;
    font-weight: bold;
}

.form-input {
    height: 53px;
}
.css-if7jzm-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #673AB7;
}